name: Build and Push to Quay.io

on:
  workflow_call:
    secrets:
      docker_username:
        required: true
      docker_password:
        required: true
    inputs:
      docker_namespace:
        required: true
        type: string
      base_image_name:
        required: false
        type: string
        default: koku_base
      db_image_name:
        required: false
        type: string
        default: koku_db
      pgadmin_image_name:
        required: false
        type: string
        default: koku_pgadmin
#  push:
#    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Quay.io
        run: echo "${{ secrets.docker_password }}" | docker login quay.io -u "${{ secrets.docker_username }}" --password-stdin

      - name: Build and push koku_base
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile  # adjust if your Dockerfile has another name/path
          push: true
          tags: ${{ inputs.docker_namespace }}/${{ secrets.docker_username }}/${{ inputs.base_image_name }}:latest

      - name: Build and push koku-db
        uses: docker/build-push-action@v6
        with:
          context: ./dev/containers/postgresql
          file: ./dev/containers/postgresql/Dockerfile
          push: true
          tags: ${{ inputs.docker_namespace }}/${{ secrets.docker_username }}/${{ inputs.db_image_name }}:latest

      - name: Build and push pgadmin Openshift compatible
        uses: docker/build-push-action@v6
        with:
          context: ./dev/containers/pgadmin
          file: ./dev/containers/pgadmin/Dockerfile
          push: true
          tags: ${{ inputs.docker_namespace }}/${{ secrets.docker_username }}/${{ inputs.pgadmin_image_name }}:latest
      #- name: Build Docker image for
      #  run: docker build -t quay.io/${{ secrets.docker_username }}/koku_base:latest .

      #- name: Push to Quay.io
      #  run: docker push quay.io/${{ secrets.docker_username }}/koku_base:latest
