name: Create and publish a Docker image

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  IMAGE_USERNAME: ${{ github.actor }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: koku-db
            dockerfile: ./dev/containers/postgresql/Dockerfile
            context: ./dev/containers/postgresql
          - name: koku-pgadmin
            dockerfile: ./dev/containers/pgadmin/Dockerfile
            context: ./dev/containers/pgadmin
          - name: koku-grafana
            dockerfile: ./grafana/Dockerfile-grafana
            context: ./grafana
          - name: koku-base
            dockerfile: ./Dockerfile
            context: .
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/${{ matrix.name }}
          tags: |
            type=semver,pattern={{version}}
            type=sha

      - name: List context files
        run: ls -R

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
